
<html>
    <head>
        <meta charset="UTF-8">
        <title> FAQ </title>
        <link rel = "stylesheet" href ="{{ url_for('static', filename='css/styles.css')}}">
        
<style>
.container{
        width:100%;
    }
    h1{
 text-align: center;
    }
    p{
        text-align: justify;
        margin-left: 20px;
        margin-right: 20px;
    }
    footer p{
        text-align: center;
    }
    h4{
        text-align: justify;  
        margin-left: 20px;
        margin-right: 20px;
        color:rgb(100, 27, 0)
    }

    h3{
        color: rgb(59, 0, 0);
        margin-left: 20px;
        margin-right: 20px;
        text-align: center;
    }
</style>
    </head>
    <body>
        <header>
            <nav class="navbar">
                <div class="logo">  
                    <a href="{{ url_for('index')}}"><img src="{{ url_for('static', filename='img/direct-flight.png')}}"></a>
                </div>
                <ul>
                    
                    <li> <a href="{{ url_for('index')}}">Home</a></li>
                    <li> <a href="{{ url_for('signup')}}">Signup/Login</a></li>
                    <li> <a href="{{ url_for('search')}}">Flights</a></li>
                    <li> <a href="{{ url_for('contact')}}">Contact</a></li>
                    <li> <a href="{{ url_for('aboutus')}}">About Us</a></li>
        
                </ul>
            </nav>
        </header>
<div class="container">
   <h1>Frequently Asked Questions</h1> 
<br>
   <h3>Welcome to MLVT! Here are some frequently asked questions.</h3>
<br><br>
<h4> Baggage </h4><br>
<h4> Check-in luggage </h4><br>
<p>
<b><i>1. Can I put my luggage through check-in on a different record locator?</i></b><br>
No, we won't check-in luggage unless you are connecting on another MLVT or oneworld® flight and all of your tickets are in the same record locator (PNR).
<br><br>
<b><i>2. How can I pay for my bags in advance of my trip online?</i></b><br>
When you check in, you can pay for up to 3 checked bags on the website or through our app (starting 24 hours and up to 4 hours before departure). An email confirmation with directions on where to drop off bags at the airport will be sent. We allow a maximum of 3 checked in bags per person.
<br><br>
<b><i>3. Can I add and pay for extra bags online after I've already made an online purchase of bags?</i></b><br>
No, you cannot add more bags after making an online purchase. In accordance with your baggage allowances, you can check-in more luggage (a maximum of 3 bags per person) at the airport. There may be checked bag charges.
<br><br>
<b><i>4. Can I pay for bags over the phone?</i></b><br>
You can pay for bags on MLVT.com, in the app or at the airport.
</p>

<br><br>
<h4>Delayed and damaged bags</h4><br>
<p>
<b><i>1. Check with the staff</b></i><br>
After landing, check with any staff at the airport if you can't find your bag. You will receive a 13-character file reference number from the agent to use when submitting your claim.
<br><br>

<b><i>2. Look for your bags</b></i><br>
You can check the status of your baggage with the help of the 13-character file reference number. 
<br><br>
<b><i>3. Bags taken 5+ days to arrive</i></b><br>
We'll need more details in order to assist you if your bag has been missing for five or more days. With the 13-character file reference number you were given at the airport, begin by filing a claim online.</p><br>

<h4>Reimbursement</h4>
<br>
<p> 
<b><i> I have essentials in my bag</b></i><br><br>
We'll pay for appropriate and essential products that you need right away. If your delay lasts longer than 30 days, kindly send us:
<br><br>
a) Your file reference number in 13 characters <br>
b) a duplicate of your ticket receipt and checks for your baggage<br>
c) Your authentic, date-stamped receipts<br>
d) Any expense reimbursement will be subtracted from the total settlement sum if your bag cannot be found.<br>
e) Submit proof of purchase:
Online submission of your claim and verification materials is the quickest method. You can email mlvtclaims@gmail.com
<br><br>
<h4> Damaged bags </h4><br>
<p>
<b><i>Whom do I notify?</b></i><br><br>
Please notify the baggage service office if you find any damage to your bags.
<br>
1. Domestic flights: 24 hours after obtaining your bags or prior to departing the airport. <br>
2. Prior to departing the airport or within seven days after receiving your bags for international trips <br><br>

<b><i>limits on liability</b></i><br><br>
Domestic flight baggage that is delivered or picked up after a delay must be reported for damage within 24 hours of receipt.<br>
A 13-character file reference number will be given to you, which you should use when submitting your claim. Make a claim opens a different website in a new tab that might not be accessible.
<br>
<br>
<b><i>3. To reduce the risk of damage, avoid:</b></i><br><br>
a) Over-packing<br>
b) Checking bags that won’t close completely<br>
c) Checking carry-on items such as laptops, briefcases and totes<br>
d) Traveling with extremely old or worn bags<br>
e) Packing restricted items<br>
f) Restricted items <br>
</p>
<h4>Lost and found</h4><br><p>

    <b><i>Where exactly did you lose it?</b></i><br><br>
    <b><i>1. In an Admirals Club, at the gate, or on a plane.</b></i>
    We'll look for your item for up to 30 days after you file a lost and found report. Receive email updates on the status and delivery instructions if discovered.<br>
    You can email us at mlvtlostnfound@gmail.com
    <br><br>
    <b><i>2. At the airport:</b></i><br><br>
    Use the information on the airport's website to get in touch with the lost and found department directly or you can ask any of the staff and they will direct you to the lost and found counter.<br><br>
    
    <b><i>3. Outside the airport:</b></i><br><br>
    We are not liable to missing baggage outside the airport.<br></p>
<br>
    <h4>Refunds and receipts</h4><br><p>

        <b><i>1. If I cancel my trip within 24 hours of purchase, can I get a full refund?</b></i><br><br>
        If you purchased your ticket at least two days before departure, you have up to 24 hours from the time you initially purchased it to request a refund. All ticket types are subject to the 24-hour refund policy, however you must cancel the trip to receive a refund. Group block reservations are not eligible for the 24-hour refund.<br><br>
        
        <b><i>2. How much will be refunded?</b></i><br><br>
        Apart from the non-refundable sales tax and the service fee, rest amount will be credited back.
        If you purchased your ticket from a travel agency or another source, get in touch with them to request a refund.<br><br>
        
        <b><i>3. I don't intend to use a refundable ticket. How do I request a refund?</b></i><br><br>
        You can submit an online refund request or get in touch with Reservations if you purchased your MLVT ticket directly from us. You can expect a refund in 7 business days if its a card payment and 20 days if its cash payment.<br><br>
        
        <b><i>4. Ticket validity</b></i><br><br>
        Bear in mind that refund requests must be made while your ticket is still valid, which is one year from the purchase date. Refunds for tickets that have expired won't be processed.<br><br></p>
</div>

<nav class="footbar">
    <ul>
        <li> <a href="faq.html">FAQ</a></li>
        <li> <a href="tnc.html">Terms and Conditions</a></li>
        <li> <a href="contact.html">Feedback</a></li>
    </ul>
    <br><br>
    <p>&copy; 2023 My Website. All rights reserved.</p>
</nav>
    
    </body></html>